<div class="row">
  <div class="unit col1of3 some-height"></div>
  <div class="unit col1of3">
    <div class="row vertical-double-inner">
      <h1>Admin Sign In</h1>
    </div>
    
    <%= form_for(:session, url: sessions_path) do |f| %>

    <div class="row">
      <%= f.label :email %>
    </div>

    <div class="row">
      <%= f.text_field :email %>
    </div>

    <div class="row">
      <%= f.label :password %>
    </div>

    <div class="row">
      <%= f.password_field :password %>
    </div>

    <div class="row">
      <%= f.submit "Sign In" %>
    </div>

    <% end %>
  </div>
  <div class="unit col1of3"></div>
</div>