<div class="main-container">
<%= render 'layouts/header' %>
<%= render 'layouts/navigation' %>
<div class="row main-content">
  <div class="indi-box">
    <h2>Mission</h2>
    <p>Our main Mission at Women Who Code is to inspire women to pursue and Excel in technology careers</p>
  </div>

  <div class="indi-box">
    <h2>Ruby Study Group</h2>
    <p>Welcome to Ruby Study Group where you will meet like minded women learning and excelling in Ruby. Our Organizers are here to help you with ruby related questions.</p>
  </div>

  <div class="indi-box">
    <h2>Team</h2>

    <div class="row team">
      <div class="unit col1of2">
        <div class="row">
          <div class="unit col2of5">
            <p>Hey, I am alaina. I am the chairwoman of Women Who Code. I attend the Ruby study group regularly</p>
          </div>

          <div class="lastUnit">
            <%= image_tag("alaina.png") %>
          </div>
        </div>
      </div>

      <div class="unit col1of2">
        <div class="row">
          <div class="unit col2of5">
            <p>Hey, I am Sowjanya. I am one of the organizers of Ruby Study Group of Women Who Code. I am full-stack developer and I am happy to help you with any ruby or javascript related questions.I conduct coding Sprints which last for 2 to 3 weeks</p>
          </div>

          <div class="lastUnit">
            <%= image_tag("sowjanya.png") %>
          </div>
        </div>
      </div>
    </div>

    <div class="row team">
      <div class="unit col1of2">
        <div class="row">
          <div class="unit col2of5">
            <p>Hey, I am Zassmin. I am the coorganizer of Women Who Code Ruby Study Group. I am a full-stack developer at lumosity and I am passionate of helping more women learn to code</p>
          </div>

          <div class="lastUnit">
            <%= image_tag("zassmin.png") %>
          </div>
        </div>
      </div>

      <div class="unit col1of2">
        <div class="row">
          <div class="unit col2of5">
           <p>Hey, I am Georgia.I am the co-organizer of Ruby Study Group of Women Who Code. I am a Java Developer by day. I know a lot of ruby and I attend this study groups to help out the girls with ruby related questions. I got into ruby because it is so cool</p>
         </div>

         <div class="lastUnit">
          <%= image_tag("georgia.png") %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
