
<div class="row main-image-container">
  <%= image_tag("main-image.jpg") %>
</div>

<div class="row some-height">
</div>

<div class="row">
  <div class="unit col1of2 borderright double-inner">
    <h2>Who We are?</h2>
    <p class="inner"><%= @about.mission %></p>
  </div>
  <div class"lastUnit news-letter">
    <%= render 'newsletter' %>
  </div>
</div>

<div class="row">
  <h2 class="double-inner">How we do?</h2>

  <div class="unit col1of3 borderright double-inner">
    <h4>Study Nights</h4>
    <p class="inner"><%= @about.studynights %></p>
  </div>
  <div class="unit col1of3 borderright double-inner">
    <h4>Hack Events</h4>
    <p class="inner"><%= @about.hackevents %></p>
  </div>
  <div class="unit lastUnit double-inner">
    <h4>Tech Talks</h4>
    <p class="inner"><%= @about.techtalks %></p>
  </div>
</div>




